
@{
    ViewBag.Title = "The Meal Information page";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<h2>Hi and welcome to our meal info page</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Vegan</h2>
        <p>
            The vegan meal plan as the name suggests is a completely plant based alternitive to a normal diet. We aim to structure your meals in such a way that you don't miss out on any of those really important vitamins and nutrients that you could otherwise find in meat! If you would like to select this meal plan please click the link below and select "Vegan" as your meal plan option to register your interest! Once you've given us your details somebody will be in touch within 3 business days regarding next steps!
        </p>
        <p><a class="btn btn-default" href="\Details\Index">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paleo</h2>
        <p>The paleo diet is the other extreme, it is a meat based dietary plan where we aim to stuff you full of healthy B12 vitamins and lots of fatty acids! Contrary to popular belief a meat based diet can actually be remarkably healthy if eaten in the right proportions and quantities! If you would like to select this meal plan please click the link below and select "Paleo" as your meal plan option to register your interest! Once you've given us your details somebody will be in touch within 3 business days regarding next steps!                                                                                  </p>
        <p><a class="btn btn-default" href="\Details\Index">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monthly Special!</h2>
        <p>Our monthly special meal plan changes from month to month to reflect changing trends. This months feature plan is The Himalayan mountain diet, consisting of berries and yak butter for breakfast and a selection of fatty meats for most other meals. Doesn't sound healthy? Think again! The people who eat this stuff are the same ones who climb Mount Everest! If you would like to select this meal plan please click the link below and select "Himalayan" as your meal plan option to register your interest!                                                                                  </p>
        <p><a class="btn btn-default" href="\Details\Index">Register &raquo;</a></p>
    </div>
</div>
<img src="https://s3.envato.com/files/117167103/DR9A6160-ii-commercial_HD-590x332.jpg" class="img-responsive"/> 
<style>

    img {
        height: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
    .row {
        background-color: lightpink;
        font-weight: 500;
        text-align: justify;
        text-justify: inter-word;
    }
</style>